/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Brand Color: #3C8A9E (Teal) */
  --ifm-color-primary: #3C8A9E;
  --ifm-color-primary-dark: #367c8e;
  --ifm-color-primary-darker: #337586;
  --ifm-color-primary-darkest: #2a616f;
  --ifm-color-primary-light: #4898ad;
  --ifm-color-primary-lighter: #4e9fb4;
  --ifm-color-primary-lightest: #60b3c9;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For Dark Mode compatibility */
[data-theme='dark'] {
  --ifm-color-primary: #3C8A9E;
  --ifm-color-primary-dark: #367c8e;
  --ifm-color-primary-darker: #337586;
  --ifm-color-primary-darkest: #2a616f;
  --ifm-color-primary-light: #4898ad;
  --ifm-color-primary-lighter: #4e9fb4;
  --ifm-color-primary-lightest: #60b3c9;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}